/**
 * This file is part of EWItool.
 *
 * EWItool is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  EWItool is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with EWItool.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * @author Steve Merrony
 */

.root {
	/* -fx-background: blue; */
}

#status-bar {
	-fx-background-color: lightgray;
	-fx-padding: 2px;
}

#status-bar .label {
	-fx-label-padding: 0.0 1mm 0.0 1mm;
}

#status-value {
	-fx-background-color: white;
	-fx-min-width: 20mm;
}

#status-message {
	-fx-background-color: white;
	-fx-min-width: 80mm;
}

#status-grid {
	-fx-padding: 10mm;
	-fx-hgap: 3.0mm;
	-fx-vgap: 3.0mm;
}

#status-label {
	-fx-background-color: white;
	/* -fx-border-radius: 5; */
	-fx-border-style: solid;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
	-fx-padding: 2.0mm;	
}

#scratchpad-grid {
	-fx-padding: 10mm;
	-fx-hgap: 3.0mm;
	-fx-vgap: 3.0mm;
}
#scratchpad-grid .button {
	-fx-min-width: 25mm;
}

#epx-grid {
	-fx-padding: 10mm;
	-fx-hgap: 3mm;
	-fx-vgap: 3mm;
}

#epx-query-grid {
	-fx-hgap: 3mm;
	-fx-vgap: 3mm;
}

#epx-settings-grid {
	-fx-hgap: 3mm;
	-fx-vgap: 3mm;
}

#epx-details-grid {
	-fx-hgap: 3mm;
	-fx-vgap: 3mm;
}

#epx-section-label {
	-fx-font: bold 9pt sans;
	-fx-alignment: top-left;
}

#editor-header-box {
  -fx-padding: 2;
  -fx-spacing: 2;
	/* -fx-background-color: lightgray; */
}

#editor-grid {
	-fx-border-color: darkgray;
	-fx-padding: 2px;
	/* visibility: -fx-min-width: 2.0cm; */
	-fx-pref-width: 25mm;
	-fx-alignment: center;
}

#editor-section-label {
	-fx-font: bold 9pt sans;
	-fx-alignment: top-left!important;
}

#editor-group-label {
	-fx-font-style:italic;
}
#editor-control-label {
	-fx-min-width: 9mm;
	-fx-font-size: 8pt;
}

#editor-grid .slider:vertical {
	-fx-show-tick-marks: false;
	-fx-min-width: 5mm;
}
/* 
 * #editor-grid .slider:vertical > .thumb {
	-fx-shape: "M0, 0L5, 0L10, 5L5, 10L0, 10 Z";
}
*/

/* ??? strangeness: no selector seems to select :horizontal */
#editor-grid .slider {
	-fx-show-tick-marks: false;
	-fx-min-width: 15mm;
}
/*
#editor-grid .slider > .thumb {
	-fx-shape: "M0, 0L10, 0L10, 5L5, 10L0, 5 Z";
}
*/